#sudoku-grid {
  border-collapse: collapse;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#sudoku-grid td {
  border: 1px solid #888;
  width: 44px;
  height: 44px;
  padding: 0;
}

#sudoku-grid input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  border: none;      
  outline: none;
  box-sizing: border-box;
}

#sudoku-grid tr:nth-child(3n) td {
  border-bottom: 3px solid #000;
}

#sudoku-grid tr:nth-child(3n+1) td {
  border-top: 3px solid #000;
}

#sudoku-grid td:nth-child(3n) {
  border-right: 3px solid #000;
}

#sudoku-grid td:nth-child(3n+1) {
  border-left: 3px solid #000;
}

#sudoku-grid tr:last-child td {
  border-bottom: 3px solid #000;
}
#sudoku-grid td:last-child {
  border-right: 3px solid #000;
}